body {
    /*    background-image:url("../images/stars.jpg");  
    JEI UŽSIREIKĖS SPALVOTO FONO  */
    padding: 10%;
}

#saw{
  width:10%;
 }

* {
    margin: 0;
    padding: 0;
}


/*
main{
    padding-bottom: 0%;
}
.row well{
    padding-top: -100px;
}
*/

img {
    width: 60%;
}

/*
 .carousel-inner img {
      width: 100%;
      height: 100%;
  }
*/

.container {
    margin-top: -5%;
    margin-bottom: 5%;
}

/*HEADERIUI*/

#remas {
    margin-top: -10%;
}

header {

    background-image: url(http://www.villreal.com/img39/tfzqvzurfbqdqbnglqai.jpg);
    padding: 3%;
    height: 370%;
    width: 100%;
    text-align: center;
    color: #E7DBEC;
    font-family: 'Baloo', cursive;
    font-size: 50px;
    font-weight: 600;
}



.kmilaukelis {
    font-family: 'Roboto Slab', serif;
    margin: auto;
    width: 50%;
    border: 4px solid #8E9DC0;
    padding: 3%;
    text-align: center;
/*    padding-left: 2%;*/
    /*    background-image: url(../images/levander.jpg);*/
}



/*SVORIS: IR UGIS:*/

label {
    /*    color: azure;*/
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto Slab', serif;
}


/*INPUT LAUKELIAI MASE IR UGIS*/

#mase,
#ugis {
    background-color: #8E9DC0;
    height: 50%;
    width: 100%;
    font-family: 'Roboto Slab', serif;
    color: azure;
    font-size: 15px;
/*    border-left: 20%;*/
    border: 1px solid #77219B;
}

/*MYGTUKAS "SKAICIUOTI"*/

#skaiciuoti {
    margin-top: 8%;
    font-size: 20px;
    font-weight: 600;
/*    font-kerning: auto;*/
    width: 60%;
    height: 50px;
    background-color: #7CCB96;
    font-family: 'Roboto Slab', serif;
    /*    border-color: black;*/
    /*    font-family: 'Gorditas', cursive;*/
}


/*SKAICIUOKLĖS IŠVADOS. "ISVADA", "TAIYRA" PATEIKIAMA VIENA SPALVO, O "VISO" IR "REIKSME" - KITA SPALVA */

#isvada {
    color: #8E9DC0;
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#viso {
    color: #7CCB96;
    font-family: 'Roboto Slab', serif;
}

#taiyra {
    color: #8E9DC0;
    font-size: 25px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#reiksme {
    color: #7CCB96;
    font-family: 'Roboto Slab', serif;
}


/*ATSIRANDA TIK PRADĖJUS ĮVEDINĖTI SVORĮ*/

#ivestassvoris {
    color: #8E9DC0;
    font-size: 25px;
}

#zaidimolaukelis h3 {
    color: #8E9DC0;
    font-family: 'Roboto Slab', serif;
}

/*MYGTUKAI*/

#zaidimas,
#data,
#datasukurimo,
#pav {
    background-color: #7CCB96;
    height: 40px;
    width: 50%;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
}

/*MYGTUKŲ REIKŠMĖS*/

#rodytidata,
#rodytidata2,
#gameresult {
    color: #8E9DC0;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

/*IKONŲ DYDIS*/

.glyphicon {
    font-size: 50px;
}

/*TARPAS TARP EILUTĖS SU IKONOMIS IR ESANČIOS AUKŠČIAU EILUTĖS*/

#rowpav {
    margin-top: 100px;
}

/*ŽALIO ALERTO ŠALIA VIDURINIO PAVEIKSLĖLIO TEKSTAS*/

div .alert {
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    font-size: 16px;
}

/*ŽALIO ELERTO ŠALIA VIDURINIO PAVEIKSLĖLIO X MYGTUKAS*/

#spausk {
    font-weight: 900;
    font-size: 40px;
}

/*LAIKO LAUKELIS APAČIOJE PRIEŠAIS FOOTER*/

#dabaryra {
    background-image: url(http://www.villreal.com/img39/tfzqvzurfbqdqbnglqai.jpg);
    width: 100%;
    border: 1px solid #8E9DC0;
    padding: 15px;
    text-align: center;
    font-size: 19px;
    color: #E7DBEC;
    ;
    margin-top: 100px;
    font-family: 'Roboto Slab', serif;
}

#footer {
    background-image: url(http://www.villreal.com/img39/tfzqvzurfbqdqbnglqai.jpg);
    background-size: cover;
    width: 100%;
    border: 1px solid #8E9DC0;
    padding: 15px;
    text-align: center;
    color: #E7DBEC;
    ;
    margin-bottom: -10%;
    margin-top: 15px;
    font-size: 17px;
    font-family: 'Roboto Slab', serif;
}


/*PAVEIKSLĖLIS, KURIS T PASPAUDUS*/

/*MODAL THINGS*/

/*MODAL THINGS*/

/*MODAL THINGS*/

/*MODAL THINGS*/

#myImage1 {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImage1:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(69, 181, 106);
    /*    background-color: rgba(0,0,0,0.9);  Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */

#caption1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */

.modal-content,
#caption1 {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    border-color: #bbb;
    font-size: 80px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    border-color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}
